@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #09080d;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/INARCH_arquitectura_construccion_C0006_2_1_009_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 35px;
    position: absolute;
    top: 10;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: rgb(131, 108, 199)
}

#menu {
    display: none;
}

.menu-icono {
    width: 5px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 50px;
    margin-bottom: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url(imagenes/logo-diseñoart.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    min-height: 26vh;
    min-width: 26vh;
    text-align: center;
}

ul li {
    color: white;
}

.header-txt p b {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 45px;

    color: white;
    border-radius: 25px;
    font-size: 50px;
    margin-bottom: 35px;
}

.btn-1:hover {
    background-color: rgb(162, 156, 190);
}

.direction {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.direction p {
    color: white;
    font-size: 16px;
}

.about {
    padding: 100px 0;
    display: flex;
}

.about.txt {
    width: 50%;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 450px;
}

h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 35px;
}

.about-txt p {
    font-size: 16px;
    color: azure;
    margin-bottom: 35px;
}

.information {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.information-1 {
    display: flex;
    align-items: center;
}

.information-1 h3 {
    font-size: 70px;
    color: #fffdfc;
}

.information-1 p {
    font-size: 16px;
    color: #fffdfc;
    margin-left: 15px;
}

.house {
    display: flex;
    justify-content: space-between;
}

.house-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/casa\ negra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/casa\ nueva.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;

}

.house-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/Casa_Paracaima-Taff_Arquitectos-21.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;

}

.house-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/INARCH_arquitectura_construccion_C0006_2_1_009_02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(imagenes/casa\ diseño\ unico.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.tex {
    position: relative;
}

.tex span {
    color: aqua;
    font-size: 35px;
}

.txt h3 {
    color: #fefcfb;
    font-size: 35px;
}

.txt p {
    font-size: 16px;
    color: #fffdfc;
    position: absolute;
    top: 400px;
    left: 0;
    rotate: 270deg;
}

.footer {
    padding: 100px 0 0;
}

.footer.content {
    display: flex;
}

.footer-form {
    width: 50%;
    color: white;
}

.footer.txt {
    width: 50%;
}

form {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-left: 200px;

}

.campo {
    background-color: rgb(70, 70, 70);
    padding: 17px 35px;
    outline: none;
    color: rgb(136, 133, 133);
    border: 0;
    margin-bottom: 10px;
}

.campo::placeholder {
    color: rgb(141, 141, 141);
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #b7975b;
    background-color: #b7975b;
    color: #fefcfb;
    border-radius: 25px;
    text-transform: uppercase;
}

.footer-txt h3 {
    color: #fefcfb;
    font-size: 35px;
    margin: 0 100px 20px 0;
}

.footer-txt p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #fefcfb;
}

.footer-2 p {
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    color: #fefcfb;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #09080d;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt.h1 {
        font-size: 70px;
        line-height: 80px
    }

    .direction {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .direction p {
        margin-bottom: 10px;
    }

    .about {
        padding: 0 30px 30px;
        flex-direction: column;
    }

    .about-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .about-img {
        width: 100px;
        order: 2;
        text-align: center;
    }

    .about-img img {
        width: 300px;
    }

    .information {
        padding: 30px;
        flex-direction: column;
        margin-left: 80px;
    }

    .house {
        flex-direction: column;
    }

    .footer {
        padding: 30px 30px 0 30px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-form {
        width: 100%;
        text-align: left;
        color: white;
    }

    .footer-txt {
        width: 100%;
        text-align: center;
    }

    .footer-txt h3 {
        margin: 0 0 20px 0;
    }

    .form {
        width: 100%;
        margin: 0 0 25px 0;
        text-align: center;
    }

    .footer-2 p {
        text-align: center;
    }
}